@charset "UTF-8";
.layout_sg article,
.layout_sg aside,
.layout_sg details,
.layout_sg figcaption,
.layout_sg figure,
.layout_sg footer,
.layout_sg header,
.layout_sg hgroup,
.layout_sg menu,
.layout_sg nav,
.layout_sg section {
  display: block;
}
.layout_sg ol,
.layout_sg ul {
  list-style: none;
}
.layout_sg blockquote,
.layout_sg q {
  quotes: none;
}
.layout_sg blockquote:before, .layout_sg blockquote:after {
  content: "";
  content: none;
}
.layout_sg q:before, .layout_sg q:after {
  content: "";
  content: none;
}
.layout_sg table {
  border-collapse: collapse;
  border-spacing: 0;
}
.layout_sg input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.layout_sg input[type=search]::-webkit-search-cancel-button, .layout_sg input[type=search]::-webkit-search-decoration, .layout_sg input[type=search]::-webkit-search-results-button, .layout_sg input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}
.layout_sg textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
.layout_sg audio,
.layout_sg canvas,
.layout_sg video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}
.layout_sg audio:not([controls]) {
  display: none;
  height: 0;
}
.layout_sg [hidden] {
  display: none;
}
.layout_sg img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
.layout_sg figure,
.layout_sg form {
  margin: 0;
}
.layout_sg fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.layout_sg legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
.layout_sg input[type=reset], .layout_sg input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
.layout_sg button[disabled],
.layout_sg input[disabled] {
  cursor: default;
}
.layout_sg input[type=checkbox], .layout_sg input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
.layout_sg input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.layout_sg input[type=search]::-webkit-search-cancel-button, .layout_sg input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.layout_sg button::-moz-focus-inner,
.layout_sg input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.layout_sg textarea {
  overflow: auto;
  vertical-align: top;
}
.layout_sg table {
  border-collapse: collapse;
  border-spacing: 0;
}
.layout_sg button,
.layout_sg input,
.layout_sg select,
.layout_sg textarea {
  color: #444444;
}
.layout_sg ::-moz-selection,
.layout_sg ::selection {
  background: #b3d4fc;
  text-shadow: none;
}
.layout_sg img {
  vertical-align: middle;
}
.layout_sg fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.layout_sg textarea {
  resize: vertical;
}
.layout_sg .chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "MaisonNeue-Thin";
  src: url("../fonts/MaisonNeueWEB-Thin.woff") format("woff"), url("../fonts/MaisonNeueWEB-Thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MaisonNeue-Light";
  src: url("../fonts/MaisonNeueWEB-Light.woff") format("woff"), url("../fonts/MaisonNeueWEB-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MaisonNeue-Book";
  src: url("../fonts/MaisonNeueWEB-Book.woff") format("woff"), url("../fonts/MaisonNeueWEB-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MaisonNeue-Demi";
  src: url("../fonts/MaisonNeueWEB-Demi.woff") format("woff"), url("../fonts/MaisonNeueWEB-Demi.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ogg-Bold";
  src: url("../fonts/Ogg-Bold.woff") format("woff"), url("../fonts/Ogg-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yanbal-icons";
  src: url("../fonts/icons/yanbal-icons.eot?zgcotw");
  src: url("../fonts/icons/yanbal-icons.eot?zgcotw#iefix") format("embedded-opentype"), url("../fonts/icons/yanbal-icons.ttf?zgcotw") format("truetype"), url("../fonts/icons/yanbal-icons.woff?zgcotw") format("woff"), url("../fonts/icons/yanbal-icons.svg?zgcotw#yanbal-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "yanbal-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-file:before {
  content: "";
}

.icon-alert:before {
  content: "";
}

.icon-arrow-down:before {
  content: "";
}

.icon-arrow-left:before {
  content: "";
}

.icon-arrow-right:before {
  content: "";
}

.icon-arrow-top:before {
  content: "";
}

.icon-ask:before {
  content: "";
}

.icon-attach:before {
  content: "";
}

.icon-bag:before {
  content: "";
}

.icon-book:before {
  content: "";
}

.icon-box:before {
  content: "";
}

.icon-card:before {
  content: "";
}

.icon-cash:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-close:before {
  content: "";
}

.icon-cream:before {
  content: "";
}

.icon-delete:before {
  content: "";
}

.icon-download:before {
  content: "";
}

.icon-eye-press:before {
  content: "";
}

.icon-eye:before {
  content: "";
}

.icon-fill-facebook:before {
  content: "";
}

.icon-fill-instagram:before {
  content: "";
}

.icon-fill-star:before {
  content: "";
}

.icon-fill-twitter:before {
  content: "";
}

.icon-fill-wishlist:before {
  content: "";
}

.icon-fill-youtube:before {
  content: "";
}

.icon-fragance:before {
  content: "";
}

.icon-gift:before {
  content: "";
}

.icon-isotipo:before {
  content: "";
}

.icon-laptop:before {
  content: "";
}

.icon-link-arrow:before {
  content: "";
}

.icon-link:before {
  content: "";
}

.icon-lipstick:before {
  content: "";
}

.icon-log-out:before {
  content: "";
}

.icon-logo-unique:before {
  content: "";
}

.icon-logo-yanbal:before {
  content: "";
}

.icon-message:before {
  content: "";
}

.icon-mobile:before {
  content: "";
}

.icon-negative:before {
  content: "";
}

.icon-pen:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-play:before {
  content: "";
}

.icon-positive:before {
  content: "";
}

.icon-profile:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-send-wishlist:before {
  content: "";
}

.icon-shooping:before {
  content: "";
}

.icon-style-advisor:before {
  content: "";
}

.icon-support:before {
  content: "";
}

.icon-top:before {
  content: "";
}

.icon-update:before {
  content: "";
}

.icon-web:before {
  content: "";
}

.icon-whatsapp:before {
  content: "";
}

.icon-wishlist:before {
  content: "";
}

.icon-clock:before {
  content: "";
}

.icon-cuenta-ahorros:before {
  content: "";
}

.icon-empresa:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-sun:before {
  content: "";
}

.icon-moon:before {
  content: "";
}

.icon-bulb:before {
  content: "";
}

.icon-messenger:before {
  content: "";
}

.icon-quickorder:before {
  content: "";
}

.icon-truck:before {
  content: "";
}

.icon-order:before {
  content: "";
}

.icon-empty-bag:before {
  content: "";
}

.icon-navigation:before {
  content: "";
}

.icon-home:before {
  content: "";
}

.icon-filter:before {
  content: "";
}

.icon-group:before {
  content: "";
}

.icon-info:before {
  content: "";
}

.icon-calendar:before {
  content: "";
}

.icon-businesssetings:before {
  content: "";
}

.icon-businessportal:before {
  content: "";
}

.icon-like:before {
  content: "";
}

.icon-unlike:before {
  content: "";
}

.icon-fill-linkedin:before {
  content: "";
}

.icon-check-circle:before {
  content: "";
}

.icon-apple:before {
  content: "";
}

.icon-archive:before {
  content: "";
}

.icon-award:before {
  content: "";
}

.icon-awards:before {
  content: "";
}

.icon-banking:before {
  content: "";
}

.icon-bell:before {
  content: "";
}

.icon-bookmark:before {
  content: "";
}

.icon-bottle:before {
  content: "";
}

.icon-briefcase:before {
  content: "";
}

.icon-bycicle:before {
  content: "";
}

.icon-cancel:before {
  content: "";
}

.icon-car:before {
  content: "";
}

.icon-chart:before {
  content: "";
}

.icon-chemical:before {
  content: "";
}

.icon-comunications:before {
  content: "";
}

.icon-config:before {
  content: "";
}

.icon-cream-tube:before {
  content: "";
}

.icon-diamond:before {
  content: "";
}

.icon-edit:before {
  content: "";
}

.icon-energy:before {
  content: "";
}

.icon-fabric:before {
  content: "";
}

.icon-file:before {
  content: "";
}

.icon-folder:before {
  content: "";
}

.icon-fullscreen:before {
  content: "";
}

.icon-funnel:before {
  content: "";
}

.icon-graduate:before {
  content: "";
}

.icon-historic:before {
  content: "";
}

.icon-hot-tea:before {
  content: "";
}

.icon-hotel:before {
  content: "";
}

.icon-labs:before {
  content: "";
}

.icon-lamp:before {
  content: "";
}

.icon-lift-truck:before {
  content: "";
}

.icon-make-up:before {
  content: "";
}

.icon-minus:before {
  content: "";
}

.icon-off:before {
  content: "";
}

.icon-open-cream:before {
  content: "";
}

.icon-open-dolder:before {
  content: "";
}

.icon-organigram:before {
  content: "";
}

.icon-padlock:before {
  content: "";
}

.icon-person:before {
  content: "";
}

.icon-photo:before {
  content: "";
}

.icon-picture:before {
  content: "";
}

.icon-plug:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-pointer:before {
  content: "";
}

.icon-pray:before {
  content: "";
}

.icon-printer:before {
  content: "";
}

.icon-radio:before {
  content: "";
}

.icon-recyclable:before {
  content: "";
}

.icon-recycle:before {
  content: "";
}

.icon-relax:before {
  content: "";
}

.icon-right:before {
  content: "";
}

.icon-sa-message:before {
  content: "";
}

.icon-save:before {
  content: "";
}

.icon-saving-bulb:before {
  content: "";
}

.icon-share:before {
  content: "";
}

.icon-shower:before {
  content: "";
}

.icon-sound:before {
  content: "";
}

.icon-stapler:before {
  content: "";
}

.icon-statistics:before {
  content: "";
}

.icon-stethoscope:before {
  content: "";
}

.icon-target:before {
  content: "";
}

.icon-thermometer:before {
  content: "";
}

.icon-tree:before {
  content: "";
}

.icon-travel:before {
  content: "";
}

.icon-tv:before {
  content: "";
}

.icon-upload:before {
  content: "";
}

.icon-website:before {
  content: "";
}

.icon-maya:before {
  content: "";
}

.icon-scooter:before {
  content: "";
}

.icon-giftbag:before {
  content: "";
}

.icon-vitamin:before {
  content: "";
}

.icon-waterproof:before {
  content: "";
}

.icon-notears:before {
  content: "";
}

.icon-ninefree:before {
  content: "";
}

.icon-skintested:before {
  content: "";
}

.icon-kidstested:before {
  content: "";
}

.icon-naturalingredients:before {
  content: "";
}

.icon-twohours:before {
  content: "";
}

.icon-tenhours:before {
  content: "";
}

.icon-dermtested:before {
  content: "";
}

.icon-hipoalergenic:before {
  content: "";
}

.icon-parabensfree:before {
  content: "";
}

.icon-reguledmaterials:before {
  content: "";
}

.icon-noanimaltested:before {
  content: "";
}

.icon-visiontest:before {
  content: "";
}

.icon-hyaluronicacid:before {
  content: "";
}

.icon-cleansafe:before {
  content: "";
}

.icon-new:before {
  content: "";
}

.icon-change:before {
  content: "";
}

.icon-temporal:before {
  content: "";
}

.icon-clap:before {
  content: "";
}

.icon-flag:before {
  content: "";
}

.icon-fill-flag:before {
  content: "";
}

.icon-rhombus:before {
  content: "";
}

.icon-fill-rhombus:before {
  content: "";
}

.icon-smile:before {
  content: "";
}

.icon-fill-smile:before {
  content: "";
}

.icon-gout:before {
  content: "";
}

.icon-fill-gout:before {
  content: "";
}

.icon-leaf:before {
  content: "";
}

.icon-fill-leaf:before {
  content: "";
}

.icon-glasses:before {
  content: "";
}

.icon-fill-glasses:before {
  content: "";
}

.icon-lips:before {
  content: "";
}

.icon-fill-lips:before {
  content: "";
}

.icon-milk-shake:before {
  content: "";
}

.icon-fill-milk-shake:before {
  content: "";
}

.icon-fingers:before {
  content: "";
}

.icon-fill-fingers:before {
  content: "";
}

.icon-couch:before {
  content: "";
}

.icon-fill-couch:before {
  content: "";
}

.icon-rabbit:before {
  content: "";
}

.icon-fill-rabbit:before {
  content: "";
}

.icon-fill-ask:before {
  content: "";
}

.icon-fill-energy:before {
  content: "";
}

.icon-fill-check-circle:before {
  content: "";
}

.icon-fill-comunications:before {
  content: "";
}

.icon-fill-play:before {
  content: "";
}

.icon-fill-person:before {
  content: "";
}

.icon-fill-bookmark:before {
  content: "";
}

.icon-fill-travel:before {
  content: "";
}

.icon-fill-apple:before {
  content: "";
}

.icon-fill-diamond:before {
  content: "";
}

.icon-fill-pointer:before {
  content: "";
}

.icon-fill-lipstick:before {
  content: "";
}

.icon-fill-chemical:before {
  content: "";
}

.icon-fill-box:before {
  content: "";
}

.icon-commission:before {
  content: "";
}

.icon-gridx4:before {
  content: "";
}

.icon-gridx3:before {
  content: "";
}

.icon-copy:before {
  content: "";
}

.icon-fill-tiktok:before {
  content: "";
}

html,
body {
  font-family: "MaisonNeue-Book", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
  color: #1C1F28;
}

h1 {
  font-family: "Ogg-Bold", Arial, Helvetica, sans-serif;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  margin: 40px 0px 8px 0px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
    margin: 24px 0px 8px 0px;
  }
}

h2 {
  font-family: "MaisonNeue-Book", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin: 16px 0px 0px 0px;
}
@media (max-width: 767px) {
  h2 {
    font-size: 16px;
    line-height: 24x;
    margin: 8px 0px 8px 0px;
  }
}

a:focus {
  outline: none;
}
a:active, a:hover {
  outline: 0;
}

p {
  font-family: "MaisonNeue-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 0px;
  margin: 0px;
}

.p-tiny {
  font-family: "MaisonNeue-Light", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
  margin: 16px 0px;
}

.p-small {
  font-family: "MaisonNeue-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 0px;
}

.p-normal {
  font-family: "MaisonNeue-Light", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 27px;
  padding: 16px 0px;
}

.p-big {
  font-family: "MaisonNeue-Light", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 27px;
  padding: 0px;
  margin: 24px 0px;
}
@media (max-width: 767px) {
  .p-big {
    font-size: 18px;
    line-height: 27px;
    margin: 20px 0px;
  }
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pt-24 {
  padding-top: 24px;
}

.pb-24 {
  padding-bottom: 24px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-0 {
  margin-top: 0;
}

.mt-16 {
  margin-top: 16px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.link {
  text-align: center;
  padding: 4px 0px;
}
.link a {
  color: #1C1F28;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .link a {
    font-size: 14px;
  }
}
.link a:hover {
  color: #0057FF;
  text-decoration: none;
}

.layout {
  padding: 0px 20px;
}
.layout .content {
  max-width: 870px;
  position: relative;
  margin: 0 auto;
  padding: 0 0;
}
@media (max-width: 1170px) {
  .layout .content {
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  .layout .content {
    width: 100%;
    padding: 0;
  }
}

.cards {
  color: #1C1F28;
  font-family: "MaisonNeue-Book", Arial, Helvetica, sans-serif;
  display: block;
  height: 216px;
  transition: 0.3s;
  margin: 15px 0px;
  border-radius: 4px;
  -moz-box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.04);
  box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.04);
  border: 1px solid #ededed;
  padding: 16px;
  background-color: #FFFFFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.cards span:nth-child(1) {
  font-size: 24px;
  line-height: 36px;
}
.cards span:nth-child(2) {
  font-size: 12px;
  line-height: 18px;
}
@media (max-width: 767px) {
  .cards {
    width: 100%;
    height: auto;
    line-height: normal;
    padding: 26px 18px;
    margin: 10px 0px;
  }
}
.cards:link {
  text-decoration: none;
}
.cards:visited {
  color: #1C1F28;
  text-decoration: none;
}
.cards:active {
  color: #1C1F28;
  transition: 0s;
  right: 0px;
  top: 0px;
  text-decoration: none;
}
.cards:hover {
  color: #FFFFFF;
  background-color: #0057FF;
  right: 0px;
  top: 0px;
  position: relative;
  border-color: #0057FF;
  text-decoration: none;
}

footer {
  height: 64px;
}

.pg-home .profile {
  width: 90px;
  display: block;
  margin: auto;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .pg-home .profile {
    width: 80px;
  }
}
@media (max-width: 767px) {
  .pg-home h2 {
    margin: 8px 0px 0px 0px;
  }
}
.pg-home .p-big {
  text-align: center;
}
@media (max-width: 767px) {
  .pg-home .p-big {
    font-size: 16px;
  }
}
.pg-home .js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}
.pg-home .js-scroll.scrolled {
  opacity: 1;
}
.pg-home .scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}
.pg-home .scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}
.pg-home .scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}
.pg-home .scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
