@charset "UTF-8";
@font-face {
  font-family: "Ogg-Bold";
  src: url("../fonts/Ogg-Bold.woff") format("woff"), url("../fonts/Ogg-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Maison-Neue-Thin";
  src: url("../fonts/Maison-Neue-Thin.woff") format("woff"), url("../fonts/Maison-Neue-Thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Maison-Neue-Light";
  src: url("../fonts/Maison-Neue-Light.woff") format("woff"), url("../fonts/Maison-Neue-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Maison-Neue-Book";
  src: url("../fonts/Maison-Neue-Book.woff") format("woff"), url("../fonts/Maison-Neue-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Maison-Neue-Demi";
  src: url("../fonts/Maison-Neue-Demi.woff") format("woff"), url("../fonts/Maison-Neue-Demi.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yanbal-icons";
  src: url("../fonts/icons/yanbal-icons.eot?zgcotw");
  src: url("../fonts/icons/yanbal-icons.eot?zgcotw#iefix") format("embedded-opentype"), url("../fonts/icons/yanbal-icons.ttf?zgcotw") format("truetype"), url("../fonts/icons/yanbal-icons.woff?zgcotw") format("woff"), url("../fonts/icons/yanbal-icons.svg?zgcotw#yanbal-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "yanbal-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-file:before {
  content: "";
}

.icon-alert:before {
  content: "";
}

.icon-arrow-down:before {
  content: "";
}

.icon-arrow-left:before {
  content: "";
}

.icon-arrow-right:before {
  content: "";
}

.icon-arrow-top:before {
  content: "";
}

.icon-ask:before {
  content: "";
}

.icon-attach:before {
  content: "";
}

.icon-bag:before {
  content: "";
}

.icon-book:before {
  content: "";
}

.icon-box:before {
  content: "";
}

.icon-card:before {
  content: "";
}

.icon-cash:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-close:before {
  content: "";
}

.icon-cream:before {
  content: "";
}

.icon-delete:before {
  content: "";
}

.icon-download:before {
  content: "";
}

.icon-eye-press:before {
  content: "";
}

.icon-eye:before {
  content: "";
}

.icon-fill-facebook:before {
  content: "";
}

.icon-fill-instagram:before {
  content: "";
}

.icon-fill-star:before {
  content: "";
}

.icon-fill-twitter:before {
  content: "";
}

.icon-fill-wishlist:before {
  content: "";
}

.icon-fill-youtube:before {
  content: "";
}

.icon-fragance:before {
  content: "";
}

.icon-gift:before {
  content: "";
}

.icon-isotipo:before {
  content: "";
}

.icon-laptop:before {
  content: "";
}

.icon-link-arrow:before {
  content: "";
}

.icon-link:before {
  content: "";
}

.icon-lipstick:before {
  content: "";
}

.icon-log-out:before {
  content: "";
}

.icon-logo-unique:before {
  content: "";
}

.icon-logo-yanbal:before {
  content: "";
}

.icon-message:before {
  content: "";
}

.icon-mobile:before {
  content: "";
}

.icon-negative:before {
  content: "";
}

.icon-pen:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-play:before {
  content: "";
}

.icon-positive:before {
  content: "";
}

.icon-profile:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-send-wishlist:before {
  content: "";
}

.icon-shooping:before {
  content: "";
}

.icon-style-advisor:before {
  content: "";
}

.icon-support:before {
  content: "";
}

.icon-top:before {
  content: "";
}

.icon-update:before {
  content: "";
}

.icon-web:before {
  content: "";
}

.icon-whatsapp:before {
  content: "";
}

.icon-wishlist:before {
  content: "";
}

.icon-clock:before {
  content: "";
}

.icon-cuenta-ahorros:before {
  content: "";
}

.icon-empresa:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-sun:before {
  content: "";
}

.icon-moon:before {
  content: "";
}

.icon-bulb:before {
  content: "";
}

.icon-messenger:before {
  content: "";
}

.icon-quickorder:before {
  content: "";
}

.icon-truck:before {
  content: "";
}

.icon-order:before {
  content: "";
}

.icon-empty-bag:before {
  content: "";
}

.icon-navigation:before {
  content: "";
}

.icon-home:before {
  content: "";
}

.icon-filter:before {
  content: "";
}

.icon-group:before {
  content: "";
}

.icon-info:before {
  content: "";
}

.icon-calendar:before {
  content: "";
}

.icon-businesssetings:before {
  content: "";
}

.icon-businessportal:before {
  content: "";
}

.icon-like:before {
  content: "";
}

.icon-unlike:before {
  content: "";
}

.icon-fill-linkedin:before {
  content: "";
}

.icon-check-circle:before {
  content: "";
}

.icon-apple:before {
  content: "";
}

.icon-archive:before {
  content: "";
}

.icon-award:before {
  content: "";
}

.icon-awards:before {
  content: "";
}

.icon-banking:before {
  content: "";
}

.icon-bell:before {
  content: "";
}

.icon-bookmark:before {
  content: "";
}

.icon-bottle:before {
  content: "";
}

.icon-briefcase:before {
  content: "";
}

.icon-bycicle:before {
  content: "";
}

.icon-cancel:before {
  content: "";
}

.icon-car:before {
  content: "";
}

.icon-chart:before {
  content: "";
}

.icon-chemical:before {
  content: "";
}

.icon-comunications:before {
  content: "";
}

.icon-config:before {
  content: "";
}

.icon-cream-tube:before {
  content: "";
}

.icon-diamond:before {
  content: "";
}

.icon-edit:before {
  content: "";
}

.icon-energy:before {
  content: "";
}

.icon-fabric:before {
  content: "";
}

.icon-file:before {
  content: "";
}

.icon-folder:before {
  content: "";
}

.icon-fullscreen:before {
  content: "";
}

.icon-funnel:before {
  content: "";
}

.icon-graduate:before {
  content: "";
}

.icon-historic:before {
  content: "";
}

.icon-hot-tea:before {
  content: "";
}

.icon-hotel:before {
  content: "";
}

.icon-labs:before {
  content: "";
}

.icon-lamp:before {
  content: "";
}

.icon-lift-truck:before {
  content: "";
}

.icon-make-up:before {
  content: "";
}

.icon-minus:before {
  content: "";
}

.icon-off:before {
  content: "";
}

.icon-open-cream:before {
  content: "";
}

.icon-open-dolder:before {
  content: "";
}

.icon-organigram:before {
  content: "";
}

.icon-padlock:before {
  content: "";
}

.icon-person:before {
  content: "";
}

.icon-photo:before {
  content: "";
}

.icon-picture:before {
  content: "";
}

.icon-plug:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-pointer:before {
  content: "";
}

.icon-pray:before {
  content: "";
}

.icon-printer:before {
  content: "";
}

.icon-radio:before {
  content: "";
}

.icon-recyclable:before {
  content: "";
}

.icon-recycle:before {
  content: "";
}

.icon-relax:before {
  content: "";
}

.icon-right:before {
  content: "";
}

.icon-sa-message:before {
  content: "";
}

.icon-save:before {
  content: "";
}

.icon-saving-bulb:before {
  content: "";
}

.icon-share:before {
  content: "";
}

.icon-shower:before {
  content: "";
}

.icon-sound:before {
  content: "";
}

.icon-stapler:before {
  content: "";
}

.icon-statistics:before {
  content: "";
}

.icon-stethoscope:before {
  content: "";
}

.icon-target:before {
  content: "";
}

.icon-thermometer:before {
  content: "";
}

.icon-tree:before {
  content: "";
}

.icon-travel:before {
  content: "";
}

.icon-tv:before {
  content: "";
}

.icon-upload:before {
  content: "";
}

.icon-website:before {
  content: "";
}

.icon-maya:before {
  content: "";
}

.icon-scooter:before {
  content: "";
}

.icon-giftbag:before {
  content: "";
}

.icon-vitamin:before {
  content: "";
}

.icon-waterproof:before {
  content: "";
}

.icon-notears:before {
  content: "";
}

.icon-ninefree:before {
  content: "";
}

.icon-skintested:before {
  content: "";
}

.icon-kidstested:before {
  content: "";
}

.icon-naturalingredients:before {
  content: "";
}

.icon-twohours:before {
  content: "";
}

.icon-tenhours:before {
  content: "";
}

.icon-dermtested:before {
  content: "";
}

.icon-hipoalergenic:before {
  content: "";
}

.icon-parabensfree:before {
  content: "";
}

.icon-reguledmaterials:before {
  content: "";
}

.icon-noanimaltested:before {
  content: "";
}

.icon-visiontest:before {
  content: "";
}

.icon-hyaluronicacid:before {
  content: "";
}

.icon-cleansafe:before {
  content: "";
}

.icon-new:before {
  content: "";
}

.icon-change:before {
  content: "";
}

.icon-temporal:before {
  content: "";
}

.icon-clap:before {
  content: "";
}

.icon-flag:before {
  content: "";
}

.icon-fill-flag:before {
  content: "";
}

.icon-rhombus:before {
  content: "";
}

.icon-fill-rhombus:before {
  content: "";
}

.icon-smile:before {
  content: "";
}

.icon-fill-smile:before {
  content: "";
}

.icon-gout:before {
  content: "";
}

.icon-fill-gout:before {
  content: "";
}

.icon-leaf:before {
  content: "";
}

.icon-fill-leaf:before {
  content: "";
}

.icon-glasses:before {
  content: "";
}

.icon-fill-glasses:before {
  content: "";
}

.icon-lips:before {
  content: "";
}

.icon-fill-lips:before {
  content: "";
}

.icon-milk-shake:before {
  content: "";
}

.icon-fill-milk-shake:before {
  content: "";
}

.icon-fingers:before {
  content: "";
}

.icon-fill-fingers:before {
  content: "";
}

.icon-couch:before {
  content: "";
}

.icon-fill-couch:before {
  content: "";
}

.icon-rabbit:before {
  content: "";
}

.icon-fill-rabbit:before {
  content: "";
}

.icon-fill-ask:before {
  content: "";
}

.icon-fill-energy:before {
  content: "";
}

.icon-fill-check-circle:before {
  content: "";
}

.icon-fill-comunications:before {
  content: "";
}

.icon-fill-play:before {
  content: "";
}

.icon-fill-person:before {
  content: "";
}

.icon-fill-bookmark:before {
  content: "";
}

.icon-fill-travel:before {
  content: "";
}

.icon-fill-apple:before {
  content: "";
}

.icon-fill-diamond:before {
  content: "";
}

.icon-fill-pointer:before {
  content: "";
}

.icon-fill-lipstick:before {
  content: "";
}

.icon-fill-chemical:before {
  content: "";
}

.icon-fill-box:before {
  content: "";
}

.icon-commission:before {
  content: "";
}

.icon-gridx4:before {
  content: "";
}

.icon-gridx3:before {
  content: "";
}

.icon-copy:before {
  content: "";
}

.icon-fill-tiktok:before {
  content: "";
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0px 16px 0px;
}

footer {
  height: 64px;
}

a:focus {
  border: #1c1f28;
}

h1 {
  font-family: "Ogg-Bold";
  font-size: 56px;
  text-align: center;
}
@media (max-width: 560px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-family: "Ogg-Bold";
  font-size: 40px;
  text-align: center;
}

h3 {
  font-family: "Ogg-Bold";
  font-size: 32px;
  text-align: center;
}

h4 {
  font-family: "Ogg-Bold";
  font-size: 24px;
  text-align: center;
}

h5 {
  font-family: "Maison-Neue-Book";
  font-size: 20px;
  line-height: 80px;
  text-align: center;
}

.comp-buttons,
.comp-breadcrumb,
.comp-checkbox,
.comp-input,
.comp-radio,
.comp-pagination,
.comp-segment,
.comp-stepper,
.comp-select,
.comp-switch,
.comp-tabs {
  width: 600px;
  margin: 40px auto 100px auto;
  text-align: center;
}
@media (max-width: 560px) {
  .comp-buttons,
.comp-breadcrumb,
.comp-checkbox,
.comp-input,
.comp-radio,
.comp-pagination,
.comp-segment,
.comp-stepper,
.comp-select,
.comp-switch,
.comp-tabs {
    width: 100%;
  }
}
.comp-buttons legend,
.comp-breadcrumb legend,
.comp-checkbox legend,
.comp-input legend,
.comp-radio legend,
.comp-pagination legend,
.comp-segment legend,
.comp-stepper legend,
.comp-select legend,
.comp-switch legend,
.comp-tabs legend {
  font-family: "Maison-Neue-Book";
  text-align: center;
  margin: 40px 0px 8px 0px;
  color: #babbbe;
  font-size: 12px;
  display: block;
  width: 100%;
}

.comp-buttons .component {
  margin: 16px auto;
  width: 320px;
  display: inline-block;
}
@media (max-width: 560px) {
  .comp-buttons .component {
    width: 90%;
  }
}

.comp-input .component {
  margin: 16px auto;
  width: 320px;
  display: inline-block;
}
@media (max-width: 560px) {
  .comp-input .component {
    width: 90%;
  }
}

.comp-select .component {
  margin: 16px auto;
  width: 320px;
}
@media (max-width: 560px) {
  .comp-select .component {
    width: 90%;
  }
}

.comp-checkbox legend {
  margin-bottom: 16px;
}
.comp-checkbox .checkbox {
  margin: auto;
  width: fit-content;
}

.comp-radio legend {
  margin-bottom: 16px;
}
.comp-radio .radiobutton {
  margin: auto;
  width: fit-content;
}

.comp-tabs h3 {
  margin-bottom: 32px;
}

.comp-segment h3 {
  margin-bottom: 40px;
}

.comp-stepper h3 {
  margin-bottom: 40px;
}

.comp-switch h3 {
  margin-bottom: 40px;
}

.comp-breadcrumb h3 {
  margin-bottom: 40px;
}

.comp-pagination h3 {
  margin-bottom: 40px;
}

.btn {
  font-family: "Maison-Neue-Demi";
  text-align: center;
  line-height: 1.5px;
  letter-spacing: 0.4px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 100%;
  min-width: 100px;
  outline: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn.small {
  font-size: 14px;
  height: 40px;
}
.btn.medium {
  font-size: 16px;
  height: 48px;
}
.btn.large {
  font-size: 16px;
  height: 48px;
}
.btn:focus {
  box-shadow: 0px 0px 4px 0px #dc582a;
  border-width: 1px;
  border-style: solid;
  border-color: #dc582a;
  outline: none;
}
.btn.primary {
  color: white;
  background-color: #dc582a;
  border-color: #dc582a;
}
.btn.primary:hover {
  background-color: #c34e25;
  border-color: #c34e25;
}
.btn.primary:active {
  background-color: #dc582a;
  box-shadow: none;
}
.btn.primary.disabled {
  color: #8d8f93;
  background-color: #e8e8e9;
  border-color: #e8e8e9;
  cursor: not-allowed;
  pointer-events: none;
}
.btn.secondary {
  color: #dc582a;
  background-color: white;
  border-color: #dc582a;
}
.btn.secondary:hover {
  color: white;
  background-color: #dc582a;
}
.btn.secondary:active {
  color: white;
  background-color: #dc582a;
  box-shadow: none;
}
.btn.secondary.disabled {
  color: #babbbe;
  border-color: #babbbe;
  cursor: not-allowed;
  pointer-events: none;
}
.btn.terciary {
  color: #1c1f28;
  background-color: white;
  border-color: #1c1f28;
}
.btn.terciary:hover {
  color: white;
  background-color: #1c1f28;
}
.btn.terciary:active {
  color: white;
  background-color: #1c1f28;
  box-shadow: none;
}
.btn.terciary.disabled {
  color: #babbbe;
  border-color: #babbbe;
  cursor: not-allowed;
  pointer-events: none;
}

.input-control {
  position: relative;
}
.input-control input {
  color: #1c1f28;
  font-family: "Maison-Neue-Book";
  font-size: 16px;
  background-color: white;
  height: 48px;
  padding: 16px;
  padding-bottom: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #8d8f93;
  border-radius: 2px;
  letter-spacing: 0.4px;
  line-height: 1.5px;
  width: 100%;
  display: block;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input-control input.wrong {
  border-color: #e5554f;
}
.input-control input.success {
  border-color: #00bfa5;
}
.input-control input:focus {
  box-shadow: 0px 0px 4px 0px #dc582a;
}
.input-control input:valid + label.placeholder {
  font-size: 10px;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}
.input-control input:focus + label.placeholder {
  font-size: 10px;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}
.input-control label.placeholder {
  font-family: "Maison-Neue-Book";
  font-size: 16px;
  color: #8d8f93;
  line-height: 24px;
  position: absolute;
  cursor: text;
  top: 12px;
  left: 16px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-transform: none;
}
.input-control.toggle-pwd input {
  padding-right: 48px;
}
.input-control.toggle-pwd i {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 12px;
  right: 12px;
}
.input-control.disabled {
  cursor: not-allowed !important;
  pointer-events: none;
}
.input-control.disabled input {
  color: #babbbe;
  background-color: #e8e8e9;
  border-color: #e8e8e9;
}
.input-control.disabled .placeholder {
  color: #babbbe;
}

.select-control label.field {
  border-width: 1px;
  border-style: solid;
  border-color: #8d8f93;
  border-radius: 2px;
  letter-spacing: 0.4px;
  line-height: 1.5px;
  width: 100%;
  color: #1c1f28;
  font-family: "Maison-Neue-Book";
  font-size: 16px;
  background-color: white;
  height: 48px;
  display: block;
  opacity: 0;
  position: relative;
}
.select-control label.field span {
  color: #8d8f93;
  font-family: "Maison-Neue-Book";
  font-size: 16px;
  display: block;
  height: 20px;
  line-height: 20px;
  left: 16px;
  pointer-events: none;
  position: absolute;
  top: 14px;
  transform: scale(1) translateY(0);
  transition-property: color, font-size, top;
  z-index: 1;
}
.select-control label.field span.required::after {
  color: inherit;
  content: "*";
  display: block;
  height: 20px;
  left: -20px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}
.select-control label.field .psuedo_select {
  background: rgba(255, 255, 255, 0);
  position: relative;
  color: #1c1f28;
  cursor: pointer;
  font-size: 20px;
  height: 24px;
  line-height: 24px;
  margin: 10px 0px 0 0;
  min-width: 250px;
  padding-top: 24px;
  outline: 0;
  z-index: 1;
}
.select-control label.field .psuedo_select::after {
  font-family: "yanbal-icons";
  content: "";
  font-size: 16px;
  color: #1c1f28;
  position: absolute;
  top: 0px;
  right: 10px;
  transition-property: background;
}
.select-control label.field .psuedo_select .selected {
  color: #1c1f28;
  font-family: "Maison-Neue-Book";
  height: 24px;
  left: 9px;
  line-height: 24px;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translateY(24px);
  transition-property: opacity, transform;
  will-change: transform;
  margin-left: 6px;
  margin-top: 8px;
}
.select-control label.field .psuedo_select ul {
  text-align: left;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  width: 100%;
  top: 38px;
  opacity: 0;
}
.select-control label.field .psuedo_select ul li {
  font-family: "Maison-Neue-Book";
  background-color: white;
  font-size: 16px;
  height: 40px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e8e8e9;
  padding: 10px 14px;
}
.select-control label.field .psuedo_select ul li:hover {
  background-color: #e8e8e9;
}
.select-control label.field.focused {
  box-shadow: 0px 0px 4px 0px #dc582a;
}
.select-control label.field.focused .psuedo_select ul {
  opacity: 1;
  pointer-events: all;
  position: absolute;
}
.select-control label.error {
  border-width: 1px;
  border-style: solid;
  border-color: #e5554f;
}

.checkbox {
  position: relative;
}
.checkbox label {
  font-family: "Maison-Neue-Book";
  font-size: 16px;
  padding-left: 32px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: block;
}
.checkbox input {
  height: 24px;
  width: 24px;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
  margin: 0px;
}
.checkbox input:checked ~ .checkmark {
  background-color: white;
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}
.checkbox input:focus ~ .checkmark {
  box-shadow: 0px 0px 4px 0px #dc582a;
}
.checkbox input:disabled, .checkbox input:disabled ~ .checkmark {
  border-width: 1px;
  border-style: solid;
  border-color: #babbbe;
  cursor: not-allowed;
}
.checkbox input:disabled:after, .checkbox input:disabled ~ .checkmark:after {
  color: #e8e8e9;
}
.checkbox .checkmark {
  height: 24px;
  width: 24px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #8d8f93;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
}
.checkbox .checkmark:after {
  font-family: "yanbal-icons";
  font-size: 20px;
  color: #dc582a;
  content: "";
  margin: 1px;
  display: none;
}

.radiobutton {
  position: relative;
}
.radiobutton label {
  font-family: "Maison-Neue-Book";
  font-size: 16px;
  padding-left: 32px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: block;
}
.radiobutton input {
  height: 24px;
  width: 24px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0;
  margin: 0px;
}
.radiobutton input:checked ~ .checkmark {
  background-color: white;
}
.radiobutton input:checked ~ .checkmark:after {
  display: block;
}
.radiobutton input:focus + .checkmark {
  box-shadow: 0px 0px 4px 0px #dc582a;
}
.radiobutton input:disabled, .radiobutton input:disabled ~ .checkmark {
  border-width: 1px;
  border-style: solid;
  border-color: #babbbe;
  cursor: not-allowed;
}
.radiobutton input:disabled:after, .radiobutton input:disabled ~ .checkmark:after {
  background-color: #e8e8e9;
}
.radiobutton .checkmark {
  height: 24px;
  width: 24px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #8d8f93;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.radiobutton .checkmark:after {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #dc582a;
  content: "";
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tabs li {
  width: 100%;
  font-family: "Maison-Neue-Book";
}
.tabs a {
  color: #1c1f28;
  background: transparent;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: transparent;
  text-align: center;
  padding: 16px 0;
  display: block;
  text-decoration: none;
  transition: 0.3s;
  width: 100%;
}
.tabs a:hover {
  color: #dc582a;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #dc582a;
  box-shadow: none;
}
.tabs a.active {
  color: #dc582a;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #dc582a;
  box-shadow: none;
}
.tabs a:focus {
  box-shadow: 0px 0px 4px 0px #dc582a;
  outline: none;
}

.tabgroup {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #1c1f28;
}
.tabgroup div {
  font-family: "Maison-Neue-Book";
  padding: 16px;
  line-height: 24px;
}

.segment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.segment li {
  width: 100%;
  font-family: "Maison-Neue-Book";
}
.segment a {
  font-family: "Maison-Neue-Book";
  font-size: 16px;
  background-color: #dc582a;
  color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  text-decoration: none;
  cursor: pointer;
  padding: 0px 16px;
  border: 1px solid #dc582a;
  transition: 0.3s;
  width: 100%;
}
@media (max-width: 560px) {
  .segment a {
    font-size: 12px;
  }
}
.segment a:hover {
  background-color: #c34e25;
  border-style: solid;
  border-width: 1px;
  border-color: #dc582a;
  box-shadow: none;
}
.segment a.active {
  color: #dc582a;
  border-style: solid;
  border-width: 1px;
  border-color: #dc582a;
  box-shadow: none;
  background-color: white;
}
.segment a:focus {
  box-shadow: 0px 0px 4px 0px #dc582a;
  outline: none;
}

.stepper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stepper::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 50%;
  transform: translateX(-50%);
  width: 65%;
  height: 4px;
  background-color: #babbbe;
  z-index: -1;
}
@media (max-width: 560px) {
  .stepper::before {
    width: 20%;
    left: 85%;
    transform: translateX(-85%);
  }
}
.stepper__item {
  width: 16.66666667%;
  position: relative;
}
@media (max-width: 560px) {
  .stepper__item {
    width: 100%;
  }
}
.stepper__item .stepper__text {
  font-family: "Maison-Neue-Demi";
  font-size: 12px;
  letter-spacing: 0.2px;
  line-height: 16px;
  color: #8d8f93;
  display: block;
}
@media (max-width: 560px) {
  .stepper__item .stepper__text {
    height: 34px;
  }
}
.stepper__item .stepper__number {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 32px;
  font-family: "Maison-Neue-Demi";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
  top: 37px;
  color: white;
  cursor: pointer;
}
.stepper__item::before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #babbbe;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}
.stepper__item::after {
  content: "";
  position: absolute;
  top: 19px;
  left: -50%;
  width: 0%;
  height: 4px;
  background-color: transparent;
  z-index: -1;
}
.stepper__item.is-active .stepper__text {
  color: #1c1f28;
  font-family: "Maison-Neue-Demi";
}
.stepper__item.is-active .stepper__number {
  height: 32px;
  width: 32px;
  background: #dc582a;
  border-radius: 50%;
}
.stepper__item.is-active::before {
  border: 1px solid #dc582a;
  background: white;
}
.stepper__item.is-active::after {
  width: 100%;
}
.stepper__item.is-complete .stepper__text {
  color: #1c1f28;
  font-family: "Maison-Neue-Book";
}
.stepper__item.is-complete .stepper__number {
  height: 32px;
  width: 32px;
  background: #dc582a;
  border-radius: 50%;
}
.stepper__item.is-complete::before {
  background-color: transparent;
}
.stepper__item.is-complete::after {
  width: 100%;
}
.stepper .bar {
  content: "";
  position: absolute;
  top: 19px;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #dc582a;
  z-index: -1;
}

.switch-button {
  display: inline-block;
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
  background-color: #dc582a;
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
  transform: translateX(24px);
}
.switch-button .switch-button__checkbox {
  display: none;
}
.switch-button .switch-button__label {
  background-color: #babbbe;
  width: 48px;
  height: 16px;
  border-radius: 3rem;
  display: inline-block;
  position: relative;
}
.switch-button .switch-button__label:before {
  background-color: white;
  transition: 0.2s;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  content: "";
  border-radius: 50%;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
  top: -4px;
  z-index: 999999;
}

.breadcrumb > li + li:before {
  color: #8d8f93;
  content: "/ ";
}
.breadcrumb li {
  font-family: "Maison-Neue-Book";
  font-size: 12px;
  text-align: left;
  display: inline-block;
}
.breadcrumb li a {
  padding: 8px;
  color: #8d8f93;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  line-height: 1.5px;
  letter-spacing: 0.4px;
  text-decoration: none;
  display: inherit;
  outline: none;
}
.breadcrumb li a:hover {
  color: #1c1f28;
  text-decoration: underline;
}
.breadcrumb li a:focus {
  border-color: #1c1f28;
}
.breadcrumb .active span {
  color: #1c1f28;
  padding: 8px;
  line-height: 1.5px;
  display: inherit;
}

.pagination {
  display: inline-block;
}
.pagination a {
  font-family: "Maison-Neue-Book";
  font-size: 16px;
  height: 30px;
  width: 30px;
  color: #1c1f28;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 2px;
  text-decoration: none;
}
.pagination a:hover {
  color: white;
  background-color: #1c1f28;
  border-style: solid;
  border-width: 1px;
  border-color: #1c1f28;
}
.pagination a.active {
  cursor: default;
  border-style: solid;
  border-width: 1px;
  border-color: #1c1f28;
}
.pagination a.active:hover {
  color: #1c1f28;
  background-color: white;
}
.pagination a:focus {
  border-style: solid;
  border-width: 1px;
  border-color: #1c1f28;
  box-shadow: 0px 0px 4px 0px #dc582a;
  outline: none;
}
.pagination a i {
  font-size: 20px;
}
.pagination a.disabled {
  outline: none;
  cursor: not-allowed;
  pointer-events: auto;
}
.pagination a.disabled:hover {
  color: #8d8f93;
  background-color: white;
}

/*# sourceMappingURL=main.css.map */
