// Font
$font-heading: "Ogg-Bold";
$font-text-light: "Maison-Neue-Light";
$font-text-normal: "Maison-Neue-Book";
$font-text-bold: "Maison-Neue-Demi";
$font-yanbal-icons: "yanbal-icons";
// Colors
$color-orange: rgba(220, 88, 42, 1);
$color-orange-dark: rgba(195, 78, 37, 1);
$color-orange30: rgba(244, 204, 191, 1);
$color-dark: rgba(28, 31, 40, 1);
$color-melon: rgba(255, 190, 142, 1);
$color-melon50: rgba(255, 221, 195, 1);
$color-white: rgba(255, 255, 255, 1);
$color-gray80: rgba(72, 76, 84, 1);
$color-gray50: rgba(141, 143, 147, 1);
$color-gray30: rgba(186, 187, 190, 1);
$color-gray10: rgba(232, 232, 233, 1);
$color-green: rgba(0, 191, 165, 1);
$color-yellow: rgba(255, 193, 7, 1);
$color-red: rgba(229, 85, 79, 1);
$color-transparent:transparent;

// Font Size
$font-size-xs-small: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-x-medium: 18px;
$font-size-xx-medium: 20px;
$font-size-xxx-medium: 24px;
$font-size-large: 32px;
$font-size-x-large: 40px;
$font-size-xx-large: 56px;
$font-size-button-small: 14px;
$font-size-button-medium: 16px;
$font-size-button-large: 16px;
$font-size-input-label: 16px;
$font-size-input-label-active: 10px;
$font-size-input-text: 16px;
$font-size-check-text: 16px;
$font-size-select-label: 16px;
$font-size-select-label-active: 10px;
$font-size-select-text: 16px;
$font-size-select-item-text: 16px;
$font-size-tab-text: 14px;
$font-size-stepper-text: 20px;
$font-size-stepper-text-label: 14px;
$font-size-segment-text: 16px;
$font-size-breadcrumb-text: 12px;
$font-size-pagination-text: 16px;
// Text
$text-letter-spacing-default: 0.4px;
$text-letter-spacing-reset: 0px;
$text-line-height-default: 1.5px;
$text-line-height-button-small: 21px;
$text-line-height-button-medium: 24px;
$text-line-height-button-large: 24px;
$text-format-solid: solid;
$text-align-left: left;
$text-align-center: center;
$text-align-right: right;
// Size
$size-avatar: 24px;
$size-icon-small: 16px;
$size-icon-medium: 24px;
$size-icon-large: 32px;
$size-seal-small: 40px;
$size-seal-medium: 48px;
$size-seal-large: 56px;
$size-border-light: 1px;
$size-border-two: 2px;
$size-border-tab-active: 3px;
$size-button-small:40px;
$size-button-medium: 48px;
$size-button-large: 48px;
$size-button-min-width: 100px;
$size-button-max-width: 100%;
$size-radio: 24px;
$size-radio-checked: 12px;
$size-check: 24px;
$size-check-icon: 20px;
$size-input: 48px;
$size-input-width: 100%;
$size-input-label-position-active: -10px;
$size-input-text-position: 24px;
$size-input-icon: 16px;
$size-select: 48px;
$size-select-width: 100%;
$size-select-label-position-active: -10px;
$size-select-text-position: 24px;
$size-select-icon: 16px;
$size-select-item: 40px;
$size-tabs: 48px;
$size-segment: 40px;
$size-switch-track: 44px;
$size-switch-thumb: 24px;
$size-stepper-round: 32px;
$size-border-stepper: 4px;
$size-bar-border-stepper: 4px;
$size-segment-min-width: 100px;
$size-segment-max-width: 100%;
$size-pagination: 30px;
$size-pagination-icon: 24px;
// Space
$space-xx-small: 4px;
$space-x-small: 8px;
$space-small: 16px;
$space-medium: 24px;
$space-large: 32px;
$space-x-large: 40px;
$space-xx-large: 48px;
// Radius
$radius-sharp: 0px;
$radius-button: 2px;
$radius-input: 2px;
$radius-check: 2px;
$radius-segment: 2px;
$radius-rounded: 9px;
$radius-pill: 24px;
$radius-circle: 50%;
$radius-pagination: 2px;
// Shadows
$shadow-level1: 0px 0px 4px 0px #00000033;
$shadow-level2: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
$shadow-level3: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
$shadow-level4: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
$shadow-focus: 0px 0px 4px 0px rgba(220, 88, 42, 1);
$shadow-stepper: 0px 0px 0px 5px rgba(220, 88, 42, 1);
// Opacity
$opacity-30: 0.3;
$opacity-50: 0.5;
$opacity-80: 0.8;
// Breakpoints
$breakpoints-mobile-xs: 320px;
$breakpoints-mobile-portrait: 375px;
$breakpoints-mobile-landscape: 768px;
$breakpoints-tablet: 1024px;
// Icon
$icon-check: "\e90d";
$icon-eye: "\e913";
$icon-eye-press: "\e912";
$icon-arrow-down: "\e902";
$icon-arrow-top: "\e905";
$icon-arrow-left: "\e903";
$icon-arrow-right: "\e904";