.btn{
    border-radius: 2px;
    font-family: "MaisonNeue-Demi";
    text-align: center;
    outline: none;
    text-decoration: none;
    border: 1;
  
   
}

a.btn{
    
}

.btn:focus{
    outline: none;
    box-shadow:none;
}

.btn.primary{
    background-color: #DC582A;
    color: #fff;
    border: 1px solid #DC582A;
}

.btn.primary:hover {
    background-color: #C34E25;
    border: 1px solid #C34E25;
    box-shadow: 0 0 3px 0 #FDEEE0;
}

.btn.primary:focus {
    background-color: #DC582A;
    border: 1px solid #DC582A;
    box-shadow: 0 0 4px 0 #DC582A;
}

.btn.primary-disabled {
    background-color: #E8E8E9;
    border: 1px solid #E8E8E9;
    color: #A4A5A9;
}

/*secondary*/
.btn.secondary{
    border: 1px solid #DC582A;
    background-color: #fff;
    color: #DC582A;
}

.btn.secondary:hover {
    background-color: #DC582A;
    border: 1px solid #DC582A;
    color:#fff;
    text-decoration: none;
}

.btn.secondary:focus {
    background-color: #DC582A;
    border: 1px solid #DC582A;
    color:#fff;
}
    

.btn.secondary-disabled {
    border: 1px solid #D1D2D4;
    background-color: #FFFFFF;
    color: #D1D2D4;
}

/*terciary*/

.btn.terciary{
    border: 1px solid #1C1F28;
    background-color: #fff;
    color: #1C1F28;
}

.btn.terciary:hover {
    border: 1px solid #1C1F28;
    background-color: #1C1F28;
    color:#fff;
}

.btn.terciary:focus {
    border: 1px solid #1C1F28;
    box-shadow: 0 0 4px 0 rgba(220,88,42,0.5);
    color: #1C1F28;
}

.btn.terciary-disabled {
    border: 1px solid #D1D2D4;
    background-color: #fff;
    color: #D1D2D4;
}


.btn.large{
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 24px;
    height: 48px;
    min-width: 170px;
    max-width: 100%;
    padding: 12px 16px;
}

.btn.medium{
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 24px;
    height: 40px;
    min-width: 170px;
    max-width: 100%;
    padding: 8px 8px;
}

.btn.small{
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 20px;
    height: 32px;
    min-width: 120px;
    max-width: 100%;
    padding: 6px 16px;
}

.btn-small{
    padding: 6px 16px;
    width: auto;
    display:table;
    
}


.btn [class^="icon-"], [class*=" icon-"] {
    font-size: 24px;
}

.btn [class^="icon-"], [class*=" icon-"] *{
    vertical-align: middle;
}
.btn-social,
a.btn-social{
    font-family: "MaisonNeue-Book";
    display: block;
    height: 48px;
    min-width: 280px;
    max-width: 100%;
    padding: 12px 16px;
    border: 1px solid #D1D2D4;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #FFFFFF;
    margin-bottom: 24px;
    color: #1C1F28 !important;
    text-decoration: none !important;

}

.modal .btn-social, .modal a.btn-social{
    margin:0;
}

.btn-social.facebook{
    background-image: url(../../../img/icons/icon-facebook.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 16px;
}

.btn-social.google{
    background-image: url(../../../img/icons/icon-google.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 16px;
}